:root {
    --gray-50-background-color: #FAFAFA;
    --light-blue-800-background-color: #0277BD;
    --light-blue-500-background-color: #03A9F4;
    --gray-800-text-color: #424242;
    --gray-50-text-color: #FAFAFA;
    --gray-50-border-style: 1px solid #FAFAFA;
    --ccc-border-style: 1px solid #CCC;
    --gray-800-border-style: 1px solid #424242;
}

.divTelaLogin {
    width: 100%;
    height: 100vh;
    background-color: var(--gray-50-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.divForm {
    width: 33%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 75%;
    height: 550px;
    border-radius: 5%;
    background-color: var(--light-blue-800-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    width: 85%;
    height: 500px;
    border-radius: 5%;
    border: var(--gray-50-border-style);
    color: var(--gray-50-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

fieldset legend {
    font-size: 1.25rem;
    padding: 10px 15px;
    border-radius: 5%;
    border: var(--gray-50-border-style);
    color: var(--gray-50-text-color);
    background-color: var(--light-blue-800-background-color);
    margin: auto;
    align-self: center;
}

.divTituloForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divTituloForm span {
    font-size: 1.5rem;
}

.divInputsForm {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#email {
    padding: 5px;
    margin: 10px 0px 20px 0px;
}

#senha {
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

.divInputsForm span {
    font-size: 0.90rem;
    display: flex;
    justify-content: end;
}

.divInputsForm span a {
    color: var(--gray-50-text-color);
}

.divBtnForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBtnForm button {
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 5%;
    color: var(--gray-50-text-color);
    background-color: var(--light-blue-800-background-color);
    border: var(--gray-50-border-style);
    cursor: pointer;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--gray-50-background-color);
    box-sizing: border-box;
    display: flex;
    justify-content: end;
}

.menu {
    width: 15%;
    height: 100vh;
    left: 0;
    color: var(--gray-50-text-color);
    background-color: var(--light-blue-800-background-color);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTituloMenu {
    width: 90%;
    height: 100px;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divItensMenu {
    width: 90%;
}

.divItemMenu {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.divNomeItem {
    font-size: 0.90rem;
    margin-bottom: 20px;
}

.divOpcoesItem {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divOpcoesItem a {
    padding: 15px;
    margin-bottom: 5px;
    text-decoration: none;
    color: var(--gray-50-text-color);
    display: flex;
    align-items: center;
}

.divOpcoesItem a:hover {
    transition: 0.5s;
    border-radius: 10px;
    background-color: var(--light-blue-500-background-color);
}

.divOpcoesItem a i {
    font-size: 1.25rem;
    padding-right: 10px;
}

main {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 85%;
    height: 100px;
    top: 0;
    background-color: var(--gray-50-background-color);
    position: fixed;
    border-bottom: var(--ccc-border-style);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav span {
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav span a {
    padding: 15px;
    color: var(--gray-800-text-color);
    text-align: center;
    text-decoration: none;
}

nav span a:hover {
    transition: 0.5s;
    border-radius: 10px;
    border: var(--ccc-border-style);
}

.divConteudoPrincipal {
    width: 75%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTituloTela {
    width: 100%;
    height: 100px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: var(--ccc-border-style);
    color: var(--gray-800-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.divLogoProjeto {
    width: 45%;
    height: 575px;
    margin-top: 250px;
    border: var(--ccc-border-style);
    display: flex;
    justify-content: center;
    align-items: center;
}

.divLogoProjeto img {
    max-width: 100%;
    max-height: 100%;
}

.divHistoricoAulas {
    width: 100%;
    margin: 75px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTituloSecao {
    width: 100%;
    margin-bottom: 25px;
}

.divAulas {
    width: 100%;
    border-radius: 10px;
    border: var(--ccc-border-style);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divAula1 {
    margin-top: 25px;
}

.divAula {
    width: 75%;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: var(--ccc-border-style);
}
