/*GERAL*/

:root {
    --primary-background-color: #fff;
    --segundary-background-color: #0277BD;
    --tertiary-background-color: #03A9F4;
    --primary-text-color: #000;
    --segundary-text-color: #fff;
    --primary-border-style: 1px solid #fff;
    --desktop-primary-box-shadow: 5px 5px 10px #424242;
    --mobile-primary-box-shadow: 5px 5px 10px #424242;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*TELA DE LOGIN*/

.divTelaLogin {
    width: 100%;
    height: 100vh;
    background-color: #E1F5FE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divForm {
    width: 33%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 75%;
    height: 550px;
    border-radius: 5%;
    box-shadow: var(--desktop-primary-box-shadow);
    background-color: var(--segundary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    width: 85%;
    height: 500px;
    border-radius: 5%;
    color: var(--segundary-text-color);
    border: var(--primary-border-style);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

fieldset legend {
    font-size: 1.25rem;
    padding: 10px 15px;
    border-radius: 5%;
    border: var(--primary-border-style);
    color: var(--segundary-text-color);
    background-color: var(--segundary-background-color);
    margin: auto;
    align-self: center;
}

.divTituloForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divTituloForm span {
    font-size: 1.5rem;
}

.divInputsForm {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#email {
    padding: 5px;
    margin: 10px 0px 20px 0px;
}

#senha {
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

.divInputsForm span {
    font-size: 0.90rem;
    display: flex;
    justify-content: end;
}

.divInputsForm span a {
    color: var(--segundary-text-color);
}

.divBtnForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBtnForm button {
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 5%;
    color: var(--segundary-text-color);
    background-color: var(--segundary-background-color);
    border: var(--primary-border-style);
    cursor: pointer;
}

@media (max-width: 1400px) {
    .divForm {
        width: 45%;
    }
}

@media (max-width: 1200px) {
    .divForm {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .divForm {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .divForm {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .divForm {
        width: 100%;
    }

    form {
        width: 70%;
        height: 400px;
        box-shadow: var(--mobile-primary-box-shadow);
    }

    fieldset {
        width: 80%;
        height: 350px;
    }

    fieldset legend {
        font-size: 0.75rem;
    }

    .divTituloForm span {
        font-size: 1.25rem;
    }

    .divInputsForm {
        width: 100%;
    }

    .divInputsForm label {
        font-size: 0.75rem;
    }
  
    .divInputsForm input {
        font-size: 0.65rem;
    }

    .divInputsForm span {
        font-size: 0.65rem;
    }
    
    .divBtnForm button {
        font-size: 0.75rem;
    }
}

@media (max-width: 500px) {
    .divForm {
        width: 100%;
    }

    form {
        width: 80%;
        height: 400px;
        box-shadow: var(--mobile-primary-box-shadow);
    }

    fieldset {
        width: 80%;
        height: 350px;
    }

    fieldset legend {
        font-size: 0.75rem;
    }

    .divInputsForm {
        width: 100%;
    }

    .divInputsForm label {
        font-size: 0.75rem;
    }
  
    .divInputsForm input {
        font-size: 0.65rem;
    }

    .divInputsForm span {
        font-size: 0.65rem;
    }
    
    .divBtnForm button {
        font-size: 0.75rem;
    }
}

/*TELA DO CURSO*/

.menu {
    width: 20%;
    height: 100vh;
    color: var(--segundary-text-color);
    background-color: var(--segundary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divTituloMenu {
    width: 100%;
    height: 100px;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divItensMenu {
    width: 90%;
}

.divItemMenu {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.divNomeItem {
    font-size: 1.10rem;
    margin-bottom: 20px;
}

.divOpcoesItem {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divOpcoesItem a {
    padding: 15px 15px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
}

.divOpcoesItem a i {
    font-size: 1.25rem;
    padding-right: 10px;
}

.divOpcoesItem a:hover {
    border-radius: 10px;
    background-color: var(--tertiary-background-color);
    transition: 0.5s;
}

.telaPrincipal {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.divTituloTela {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divIconesCabecalho {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divIconesCabecalho div {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.divIconesCabecalho div i {
    font-size: 2rem;
}

.divConteudoPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBtnSubirImgStyle {
    width: 40%;
    height: 400px;
    border-radius: 15px;
    border: 2px dashed #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSubirIngStyle {
    font-size: 1.5rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnSubirIngStyle i {
    font-size: 5rem;
}

#inputSubirImg {
    display: none;
}

#imgCurso {
    max-width: 100%;
    max-height: 100%;
}

footer {
    width: 100%;
    height: 100px;
}

.displayNone {
    display: none;
}

.borderNone {
    width: 40%;
    height: 400px;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*TELA TURMA*/

.cabecalhoTurma {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
